#app {
display: flex;
height: 100%;
width: 100%;
justify-content: center;
}


.app-container {
    height: 80%;
    background-color: aliceblue;
    justify-content: start;
    position: absolute;
    width: 30%;
    margin-top: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);  
    
}

.addlistbtn {
    
   height: 50px;
   width: 50px;
   background-color: white;
   position: relative;
   border: none;
   border-radius: 50%;
   right: -40%;
   outline: none;
   border: none;
   top: 420px;
   background-color: aqua;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);  
}

.addlistbtn:hover{
    cursor: pointer;
}

textarea{
    
    position: absolute;
    border: none; 
    margin-top: 20px;
    margin-left: -20px;
    padding:10px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.23);  
}




textarea:focus {
 outline: none;
 border:1px solid aqua;
 box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.23);  
}

.plus{
    font-size: 20px;
    color: white;
}

.savebtn{
    background-color: rgb(18, 139, 18);
    color:white;
    border:none;
    outline:none;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    left: 280px;
    top: 260px;
}

.list-style {
list-style: none;
margin-top: 15px;
background-color: white;
margin-right: 10px;
padding: 15px;
border-radius: 20px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);  
}

.list-box{
    overflow-y: scroll;
    height: 350px;
    
}


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
   
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    bottom:1px;
    top: -15px;
    right: 5px;
    float: right;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #eee;

  }
  
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color:greenyellow;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

